#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_install:
	install -Dm755 fun $(CURDIR)/debian/fun/usr/local/bin/fun
	install -Dm644 fun.service $(CURDIR)/debian/fun/etc/systemd/system/fun.service

override_dh_installchangelogs:
	dh_installchangelogs debian/changelog

override_dh_installdocs:
	dh_installdocs README.md LICENSE

# Disable automatic stripping to preserve Go debug info
override_dh_strip:
	# Do nothing

# Disable automatic compression for man pages
override_dh_compress:
	# Do nothing 